body
{
    text-align: center;
   
}
.container{
  background-color:orange;  
}
#app {
    background-image:repeating-radial-gradient(#03fcf4,#fc03f0);
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
